*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
nav{
    display:flex;
    justify-content: space-around;
    margin-left: auto;
    width: 25%;
    padding: 2em;
    align-item: center;
    }
    nav img{
        height: 22px;
    }
 nav button{   
   background-color: #4284f4;
   color: #fff;
   font-weight: bold;
   padding: 7px 12px;
   border: 1px solid #4284f4;
   border-radius: 3px;
   letter-spacing: 1px;
   outline: none;
   cursor: pointer;
   }
nav button:hover {
  opacity: 0.9;
  }


    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    main{
        margin: 3em auto;
        width:50%;
        text-align: center;
    }
    .icon{
        height:18px;
        margin-top: -8px;
    }
    .input-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width:80%;
        height: 20px;
        padding: 0.8em;
        border: 1px solid rgb(233, 226, 226);
        border-radius: 30px;
        margin:2em auto auto auto;
    }
    .input-container > input{
        flex-grow: 1;
        border: none;
        outline: none;
    }
    .btn_container{
        margin-top: 1.5em;
    }
    .btn_container button{
        border: none;
        padding: 0.7em;
    }
p{
    margin-top: 1.5em;
}
p a{
    color:rgb(24, 24, 170);
    margin-left: 0.5em;
}
p a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgb(245, 243, 243);
    margin-top: auto;
}
.footer-top{
    padding: 1em;
}
.footer-bottom{
    padding: 1em;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid rgb(209, 206, 206);
}
.left a{
    margin-right: 1.3em;
}
.right a{
    margin-right: 1.3em;
}
.country{
    margin-top: 0;
}
